* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin-inline: auto;
}

input[type="submit"] {
  background: $tertiary-color;
  border: none;
  color: $txt-color;
  padding: 4px 20px;
  height: 30px;
}
